<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.dao.OptRecordAndEnvDAO">

	<resultMap type="OptRecordAndEnvVO" id="baseResultMap">
		<id column="ID" property="id"/>
		<result column="SYS_CODE" property="sysCode"/>
		<result column="CHANNEL_CODE" property="channelCode"/>
		<result column="CHANNEL_NAME" property="channelName"/>
		<result column="TERMINAL_NAME" property="terminalName"/>
		<result column="SESSION_ID" property="sessionId"/>
		<result column="REQ_PARAMS" property="reqParams"/>
		<result column="REQ_URL" property="reqUrl"/>
		<result column="USER_ID" property="userId"/>
		<result column="SCENE_NO" property="sceneNo"/>
		<result column="REQ_METHOD_NAME" property="reqMethodName"/>
		<result column="OPT_BRIEF" property="optBrief"/>
		<result column="OPT_TIME" property="optTime"/>
		<result column="OPT_DESCRIPTION" property="optDescription"/>
		<result column="IP" property="ip"/>
		<result column="CLIENT_IP" property="clientIp"/>
		<result column="MAC" property="mac"/>
		<result column="IMEI" property="imei"/>
		<result column="OPERATORS" property="operators"/>
		<result column="MANUFACTURER" property="manufacturer"/>
		<result column="PHONE_MODEL" property="phoneModel"/>
		<result column="COMPUTER_NAME" property="computerName"/>
		<result column="OS" property="os"/>
		<result column="OS_VERSION" property="osVersion"/>
		<result column="RESOLUTION" property="resolution"/>
		<result column="FONT" property="font"/>
		<result column="FONT_SIZE" property="fontSize"/>
		<result column="BROWSER" property="browser"/>
		<result column="BROWSER_VERSION" property="browserVersion"/>
		<result column="APP_NAME" property="appName"/>
		<result column="APP_TYPE" property="appType"/>
		<result column="APP_VERSION" property="appVersion"/>
		<result column="LONGITUDE" property="longitude"/>
		<result column="LATITUDE" property="latitude"/>
		<result column="INTERNET_TYPE" property="internetType"/>
		<result column="IS_EMULATOR" property="isEmulator"/>
		<result column="DEVICE_ID" property="deviceId"/>
	</resultMap>

	<!-- 按条件查询-->
	<select id="findOptRecordListPage" resultMap="baseResultMap" >
		SELECT optr.ID,
				SYS_CODE,
				CHANNEL_CODE,
				CHANNEL_NAME,
				TERMINAL_NAME,
				SESSION_ID,
				REQ_PARAMS,
				REQ_URL,
				USER_ID,
				SCENE_NO,
				REQ_METHOD_NAME,
				OPT_BRIEF,
				OPT_TIME,
				OPT_DESCRIPTION,
				opte.IP,
				CLIENT_IP,
				MAC,
				IMEI,
				OPERATORS,
				MANUFACTURER,
				PHONE_MODEL,
				COMPUTER_NAME,
				OS,
				OS_VERSION,
				RESOLUTION,
				FONT,
				FONT_SIZE,
				BROWSER,
				BROWSER_VERSION,
				APP_NAME,
				APP_TYPE,
				APP_VERSION,
				LONGITUDE,
				LATITUDE,
				INTERNET_TYPE,
				IS_EMULATOR,
				DEVICE_ID
		FROM OPT_RECORD optr,OPT_ENVIRONMENT opte
		WHERE optr.ENV_ID=opte.ID
		<if test="userId!=null and userId!=''">
			AND USER_ID LIKE CONCAT('%', #{userId}, '%')
		</if>
		<if test="sysCode!=null and sysCode!=''">
			AND SYS_CODE=#{sysCode}
		</if>
		<if test="channelCode!=null and channelCode!=''">
			AND CHANNEL_CODE=#{channelCode}
		</if>
		<if test="terminalName!=null and terminalName!=''">
			AND TERMINAL_NAME=#{terminalName}
		</if>
		<if test="sessionId!=null and sessionId!=''">
			AND SESSION_ID LIKE CONCAT('%', #{sessionId}, '%')
		</if>
		<if test="reqUrl!=null and reqUrl!=''">
			AND REQ_URL LIKE CONCAT('%', #{reqUrl}, '%')
		</if>
		<if test="sceneNo!=null and sceneNo!=''">
			AND SCENE_NO=#{sceneNo}
		</if>
		ORDER BY USER_ID,OPT_TIME
	</select>

	<!-- 查询单个详情-->
	<select id="getOptDetail" resultMap="baseResultMap">
		SELECT optr.ID,
		SYS_CODE,
		CHANNEL_CODE,
		CHANNEL_NAME,
		TERMINAL_NAME,
		SESSION_ID,
		REQ_PARAMS,
		REQ_URL,
		USER_ID,
		SCENE_NO,
		REQ_METHOD_NAME,
		OPT_BRIEF,
		OPT_TIME,
		OPT_DESCRIPTION,
		opte.IP,
		CLIENT_IP,
		MAC,
		IMEI,
		OPERATORS,
		MANUFACTURER,
		PHONE_MODEL,
		COMPUTER_NAME,
		OS,
		OS_VERSION,
		RESOLUTION,
		FONT,
		FONT_SIZE,
		BROWSER,
		BROWSER_VERSION,
		APP_NAME,
		APP_TYPE,
		APP_VERSION,
		LONGITUDE,
		LATITUDE,
		INTERNET_TYPE,
		IS_EMULATOR,
		DEVICE_ID
		FROM OPT_RECORD optr,OPT_ENVIRONMENT opte
		WHERE optr.env_id = opte.id and
		optr.ID=#{optId}
	</select>


</mapper>