<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.dao.DemandDAO">

	<resultMap type="Demand" id="demandResultMap">
		<id column="ID" property="id"/>
		<result column="PROJECT_ID" property="projectId"/>
		<result column="DEMAND_NAME" property="demandName"/>
		<result column="DEMAND_DESCRIBE" property="demandDescribe"/>
		<result column="PUT_TIME" property="putTime"/>
		<result column="PUT_USERID" property="putUserId"/>
		<result column="EXCEPT_END_TIME" property="exceptEndTime"/>
		<result column="ACTUAL_END_TIME" property="actualEndTime"/>
		<result column="COMPLETE_USERID" property="completeUserId"/>
		<result column="DEMAND_STATUS" property="demandStatus"/>
	</resultMap>

	<!--表名 -->
	<sql id="tableName">
		DEMAND
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		PROJECT_ID,
		DEMAND_NAME,
		DEMAND_DESCRIBE,
		PUT_TIME,
		PUT_USERID,
		EXCEPT_END_TIME,
		ACTUAL_END_TIME,
		COMPLETE_USERID,
		DEMAND_STATUS
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},
		#{demandName},
		#{demandDescribe},
		#{putTime},
		#{putUserId},
		#{exceptEndTime},
		#{actualEndTime},
		#{completeUserId},
		#{demandStatus}
	</sql>

	<!-- 主键查询-->
	<select id="findDemand" resultMap="demandResultMap">
		SELECT <include refid="Field"></include> FROM <include refid="tableName"></include>
		WHERE ID=#{id}
	</select>

	<!-- 条件查询-->
	<select id="queryDemand" resultMap="demandResultMap">
		SELECT ID,PROJECT_ID,DEMAND_NAME,DEMAND_DESCRIBE,PUT_TIME,PUT_USERID,EXCEPT_END_TIME,ACTUAL_END_TIME,COMPLETE_USERID,
		(CASE WHEN DEMAND_STATUS='0' THEN '开发中'
		ELSE '已完成' END ) as DEMAND_STATUS
		FROM <include refid="tableName"></include>
		WHERE 1=1
		<if test="projectId!=null and projectId!=''">
			AND PROJECT_ID=#{projectId}
		</if>
		<if test="modleId!=null and modleId!=''">
			AND MODLE_ID=#{modleId}
		</if>
		<if test="version!=null and version!=''">
			AND VERSION=#{version}
		</if>
	</select>

	<!-- 修改
	<update id="updateVersion" parameterType="Version">
		UPDATE <include refid="tableName"></include>
		SET PROJECT_ID=#{projectId},MODLE_NAME=#{modleName},MODLE_DESCRIBE=#{modleDescribe},MODLE_STATE=#{modleState}
		WHERE ID=#{id}
	</update>-->

	<!-- 新增-->
	<insert id="saveModle" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="tableName"></include>(
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>

</mapper>