<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.dao.DemandDAO">

	<resultMap type="Demand" id="demandResultMap">
		<id column="ID" property="id"/>
		<result column="PROJECT_ID" property="projectId"/>
		<result column="DEMAND_NAME" property="demandName"/>
		<result column="DEMAND_DESCRIBE" property="demandDescribe"/>
		<result column="VERSION" property="version"/>
		<result column="PUT_TIME" property="putTime"/>
		<result column="PUT_USERID" property="putUserId"/>
		<result column="EXCEPT_END_TIME" property="exceptEndTime"/>
		<result column="ACTUAL_END_TIME" property="actualEndTime"/>
		<result column="COMPLETE_USERID" property="completeUserId"/>
		<result column="DEMAND_STATUS" property="demandStatus"/>
	</resultMap>

	<resultMap type="DemandVO" id="demandResultMap">
		<id column="ID" property="id"/>
		<result column="PROJECT_ID" property="projectId"/>
		<result column="PROJECT_NAME" property="projectName"/>
		<result column="DEMAND_NAME" property="demandName"/>
		<result column="DEMAND_DESCRIBE" property="demandDescribe"/>
		<result column="VERSION" property="version"/>
		<result column="PUT_TIME" property="putTime"/>
		<result column="PUT_USERID" property="putUserId"/>
		<result column="EXCEPT_END_TIME" property="exceptEndTime"/>
		<result column="ACTUAL_END_TIME" property="actualEndTime"/>
		<result column="COMPLETE_USERID" property="completeUserId"/>
		<result column="DEMAND_STATUS" property="demandStatus"/>
	</resultMap>

	<!--表名 -->
	<sql id="tableName">
		DEMAND
	</sql>

	<!-- 主键查询 -->
	<select id="findDemand" resultMap="demandVOResultMap">
		SELECT D.ID AS ID,D.PROJECT_ID AS PROJECT_ID,P.PROJECT_NAME AS PROJECT_NAME,D.DEMAND_NAME AS DEMAND_NAME,
		D.DEMAND_DESCRIBE AS DEMAND_DESCRIBE,D.VERSION AS VERSION,D.PUT_TIME AS PUT_TIME,D.PUT_USERID AS PUT_USERID,
		D.EXCEPT_END_TIME AS EXCEPT_END_TIME,D.ACTUAL_END_TIME AS ACTUAL_END_TIME,D.COMPLETE_USERID AS COMPLETE_USERID,
		(CASE WHEN D.DEMAND_STATUS='0' THEN '开发中'
		ELSE '已完成' END ) as DEMAND_STATUS
		FROM DEMAND D,PROJECT P
		WHERE D.PROJECT_ID=P.ID AND D.ID=#{id}
	</select>

	<!-- 条件查询-->
	<select id="queryDemand" resultMap="demandResultMap">
		SELECT D.ID AS ID,D.PROJECT_ID AS PROJECT_ID,P.PROJECT_NAME AS PROJECT_NAME,D.DEMAND_NAME AS DEMAND_NAME,
		D.DEMAND_DESCRIBE AS DEMAND_DESCRIBE,D.VERSION AS VERSION,D.PUT_TIME AS PUT_TIME,D.PUT_USERID AS PUT_USERID,
		D.EXCEPT_END_TIME AS EXCEPT_END_TIME,D.ACTUAL_END_TIME AS ACTUAL_END_TIME,D.COMPLETE_USERID AS COMPLETE_USERID,
		(CASE WHEN D.DEMAND_STATUS='0' THEN '开发中' ELSE '已完成' END ) as DEMAND_STATUS
		FROM DEMAND D,PROJECT P
		WHERE D.PROJECT_ID=P.ID AND D.PROJECT_ID=#{projectId}
		<if test="demandName!=null and demandName!=''">
			AND D.DEMAND_NAME=#{demandName}
		</if>
		<if test="demandStatus!=null and demandStatus!=''">
			AND D.DEMAND_STATUS=#{demandStatus}
		</if>
	</select>

	<!-- 修改
	<update id="updateVersion" parameterType="Version">
		UPDATE <include refid="tableName"></include>
		SET PROJECT_ID=#{projectId},MODLE_NAME=#{modleName},MODLE_DESCRIBE=#{modleDescribe},MODLE_STATE=#{modleState}
		WHERE ID=#{id}
	</update>-->

	<!-- 新增
	<insert id="saveModle" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="tableName"></include>(
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>-->

</mapper>