<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.dao.ModleDAO">

    <resultMap type="Modle" id="modleResultMap">
        <id column="ID" property="id"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="MODLE_NAME" property="modleName"/>
        <result column="MODLE_DESCRIBE" property="modleDescribe"/>
        <result column="MODLE_STATE" property="modleState"/>
    </resultMap>

    <resultMap type="ModleVO" id="modleVOResultMap">
        <id column="ID" property="id"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="PROJECT_NAME" property="projectName"/>
        <result column="MODLE_NAME" property="modleName"/>
        <result column="MODLE_DESCRIBE" property="modleDescribe"/>
        <result column="MODLE_STATE" property="modleState"/>
        <result column="VERSION" property="version"/>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		MODLE
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		ID,
		PROJECT_ID,
		MODLE_NAME,
		MODLE_DESCRIBE,
		MODLE_STATE
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id},
		#{projectId},
		#{modleName},
		#{modleDescribe},
		#{modleState}
	</sql>

    <delete id="deleteModle" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="tableName"></include>
        WHERE ID=#{id}
    </delete>

    <!-- 主键查询-->
    <select id="findModle" resultMap="modleResultMap">
        SELECT <include refid="Field"></include> FROM
        <include refid="tableName"></include>
        WHERE ID=#{id}
    </select>

    <select id="queryModleListByProjectId" resultMap="modleResultMap">
        SELECT <include refid="Field"></include> FROM
        <include refid="tableName"></include>
        WHERE PROJECT_ID = #{projectId}
        and MODLE_STATE = '1'
    </select>

    <!-- 修改指定需求关联模块未完成状态为已完成 -->
    <update id="updateModleState" parameterType="java.lang.Integer">
        UPDATE <include refid="tableName"></include>
        SET MODLE_STATE='1'
        WHERE MODLE_STATE='0' AND ID IN(SELECT MODLE_ID FROM MODLE_DEMAND WHERE DEMAND_ID=#{demandId})
    </update>

    <!-- 条件查询-->
    <select id="queryModleList" resultMap="modleResultMap">
        <!--SELECT ID,PROJECT_ID,MODLE_NAME,MODLE_DESCRIBE,-->
        <!--(CASE WHEN MODLE_STATE='0' THEN '开发中'-->
        <!--ELSE '已完成'-->
        <!--END) as MODLE_STATE-->
        <!--FROM <include refid="tableName"></include>-->
        <!--WHERE PROJECT_ID=#{projectId}-->
        SELECT M.ID as ID,M.PROJECT_ID as PROJECT_ID,P.PROJECT_NAME as PROJECT_NAME,M.MODLE_NAME as
        MODLE_NAME,M.MODLE_DESCRIBE as MODLE_DESCRIBE,
        (CASE WHEN M.MODLE_STATE='0' THEN '开发中'
        ELSE '已完成'
        END) as MODLE_STATE,
        (SELECT V.version FROM VERSION V WHERE V.modle_id = M.id AND V.VERSION_STATE = '1') AS VERSION
        FROM MODLE M,PROJECT P
        WHERE M.PROJECT_ID = P.ID
        AND M.PROJECT_ID=#{projectId}
    </select>

    <!-- 根据需求ID查询关联模块列表 -->
    <select id="findModleList" resultMap="modleResultMap">
		SELECT M.ID AS ID,M.PROJECT_ID AS PROJECT_ID,M.MODLE_NAME AS MODLE_NAME,M.MODLE_DESCRIBE AS MODLE_DESCRIBE,
		M.MODLE_STATE AS MODLE_STATE
		FROM MODLE M,MODLE_DEMAND MD
		WHERE M.ID=MD.MODLE_ID AND MD.DEMAND_ID=#{demandId}
	</select>

    <!-- 条件查询-->
    <select id="queryModle" resultMap="modleVOResultMap">
        SELECT M.ID as ID,M.PROJECT_ID as PROJECT_ID,P.PROJECT_NAME as PROJECT_NAME,M.MODLE_NAME as
        MODLE_NAME,M.MODLE_DESCRIBE as MODLE_DESCRIBE,
        (CASE WHEN M.MODLE_STATE='0' THEN '开发中'
        ELSE '已完成'
        END) as MODLE_STATE,
        (SELECT V.version FROM VERSION V WHERE V.modle_id = M.id AND V.VERSION_STATE = '1') AS VERSION
        FROM MODLE M,PROJECT P
        WHERE M.PROJECT_ID = P.ID
        AND M.PROJECT_ID=#{projectId}
        <if test="modleName!=null and modleName!=''">
            AND M.MODLE_NAME LIKE CONCAT('%', #{modleName}, '%')
        </if>
        <if test="modleState!=null and modleState!=''">
            AND M.MODLE_STATE=#{modleState}
        </if>
    </select>

    <!-- 修改-->
    <update id="updateModle" parameterType="Modle">
        UPDATE
        <include refid="tableName"></include>
        SET PROJECT_ID=#{projectId},MODLE_NAME=#{modleName},MODLE_DESCRIBE=#{modleDescribe},MODLE_STATE=#{modleState}
        WHERE ID=#{id}
    </update>

    <!-- 新增-->
    <insert id="saveModle" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"></include>(
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <insert id="saveModleDemand" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO MODLE_DEMAND(ID,MODLE_ID,DEMAND_ID) VALUES(#{id},#{modleId},#{demandId})
	</insert>

    <update id="updateModleDev">
        UPDATE <include refid="tableName"></include>
        SET MODLE_STATE = '0'
        WHERE ID=#{id}
    </update>

</mapper>