<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.dao.ProjectModleDAO">

    <resultMap type="ProjectModle" id="projectModleResultMap">
        <id column="ID" property="id"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="MODLE_ID" property="modleId"/>
        <result column="VERSION" property="version"/>
    </resultMap>

    <resultMap type="ProjectModleVO" id="projectModleVOResultMap">
        <id column="ID" property="id"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="PROJECT_NAME" property="projectName"/>
        <result column="MODLE_ID" property="modleId"/>
        <result column="MODLE_NAME" property="modleName"/>
        <result column="MODLE_DESCRIBE" property="modleDescribe"/>
        <result column="VERSION" property="version"/>
        <result column="VERSION_NUM" property="versionNum"/>
        <result column="VERSION_DESC" property="versionDesc"/>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		PROJECT_MODLE
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		ID,
		PROJECT_ID,
		MODLE_ID,
		VERSION
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id},
		#{projectId},
		#{modleId},
		#{version}
	</sql>

    <delete id="deleteModle" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="tableName"></include>
        WHERE ID=#{id}
    </delete>

    <!-- 主键查询-->
    <select id="findModle" resultMap="projectModleResultMap">
        SELECT <include refid="Field"></include> FROM
        <include refid="tableName"></include>
        WHERE ID=#{id}
    </select>

    <select id="queryModleListByProjectId" resultMap="projectModleResultMap">
        SELECT <include refid="Field"></include> FROM
        <include refid="tableName"></include>
        WHERE PROJECT_ID = #{projectId}
    </select>

    <!-- 修改指定需求关联模块未完成状态为已完成
    <update id="updateModleState" parameterType="java.lang.Integer">
        UPDATE <include refid="tableName"></include>
        SET MODLE_STATE='1'
        WHERE MODLE_STATE='0' AND ID IN(SELECT MODLE_ID FROM MODLE_DEMAND WHERE DEMAND_ID=#{demandId})
    </update> -->

    <!-- 条件查询-->
    <select id="queryModleList" resultMap="projectModleResultMap">
        SELECT PM.ID as ID,PM.PROJECT_ID as PROJECT_ID,PM.MODLE_ID AS MODLE_ID,PM.VERSION AS VERSION
        FROM PROJECT_MODLE PM
        WHERE PM.PROJECT_ID=#{projectId}
    </select>

    <select id="queryProjectModle" resultMap="projectModleResultMap">
        SELECT <include refid="Field"></include>
        FROM <include refid="tableName"></include>
        WHERE PROJECT_ID = #{projectId}
        AND   MODLE_ID = #{modleId}
    </select>

    <!-- 根据需求ID查询关联模块列表
    <select id="findModleList" resultMap="projectModleResultMap">
		SELECT M.ID AS ID,M.PROJECT_ID AS PROJECT_ID,M.MODLE_NAME AS MODLE_NAME,M.MODLE_DESCRIBE AS MODLE_DESCRIBE,
		M.MODLE_STATE AS MODLE_STATE
		FROM MODLE M,MODLE_DEMAND MD
		WHERE M.ID=MD.MODLE_ID AND MD.DEMAND_ID=#{demandId}
	</select> -->

    <!-- 条件查询 -->
    <select id="queryModle" resultMap="projectModleVOResultMap">
--         SELECT PM.ID as ID,P.ID as PROJECT_ID,P.PROJECT_NAME as PROJECT_NAME,MP.ID AS MODLE_ID,
--         MP.MODLE_PROTOTYPE_NAME as MODLE_NAME,MP.MODLE_PROTOTYPE_DESCRIBE as MODLE_DESCRIBE,PM.VERSION AS VERSION,
--         V.VERSION_DESC AS VERSION_DESC,V2.VERSION AS VERSION_NUM
--         FROM PROJECT_MODLE PM,PROJECT P,MODLE_PROTOTYPE MP,VERSION V,VERSION V2
--         WHERE PM.PROJECT_ID = P.ID AND PM.MODLE_ID = MP.ID AND PM.VERSION=V.VERSION AND PM.MODLE_ID=V.MODLE_ID AND V.VERSION_ID=V2.ID
        SELECT
        PM.ID AS ID,
        P.ID AS PROJECT_ID,
        P.PROJECT_NAME AS PROJECT_NAME,
        MP.ID AS MODLE_ID,
        MP.MODLE_PROTOTYPE_NAME AS MODLE_NAME,
        MP.MODLE_PROTOTYPE_DESCRIBE AS MODLE_DESCRIBE,
        PM.VERSION AS VERSION,
        V.VERSION_DESC AS VERSION_DESC,
        ( SELECT v1.VERSION FROM VERSION v1 WHERE V.MODLE_ID = PM.MODLE_ID AND V.VERSION_ID = v1.ID ) AS VERSION_NUM
        FROM  PROJECT_MODLE PM,PROJECT P,MODLE_PROTOTYPE MP,VERSION V
        WHERE PM.PROJECT_ID = P.ID
        AND PM.MODLE_ID = MP.ID
        AND V.MODLE_ID = MP.ID
        <if test="projectId!=null and projectId!=''">
            AND P.ID = #{projectId}
        </if>
        <if test="modleName!=null and modleName!=''">
            AND MP.MODLE_PROTOTYPE_NAME LIKE CONCAT('%', #{modleName}, '%')
        </if>
    </select>

    <!-- 主键查询 -->
    <select id="findProjectModleVO" resultMap="projectModleVOResultMap">
        SELECT PM.ID AS ID,
        P.ID AS PROJECT_ID,
        P.PROJECT_NAME AS PROJECT_NAME,
        MP.ID AS MODLE_ID,
        MP.MODLE_PROTOTYPE_NAME AS MODLE_NAME,
        MP.MODLE_PROTOTYPE_DESCRIBE AS MODLE_DESCRIBE,
        PM.VERSION AS VERSION,
        V.VERSION_DESC AS VERSION_DESC,
        ( SELECT v1.VERSION FROM VERSION v1 WHERE V.MODLE_ID = PM.MODLE_ID AND V.VERSION_ID = v1.ID ) AS VERSION_NUM
        FROM  PROJECT_MODLE PM,PROJECT P,MODLE_PROTOTYPE MP,VERSION V
        WHERE PM.PROJECT_ID = P.ID AND PM.MODLE_ID = MP.ID AND PM.VERSION=V.VERSION AND PM.MODLE_ID=V.MODLE_ID
        AND PM.ID=#{id}
    </select>

    <!-- 修改-->
    <update id="updateModle" parameterType="ProjectModle">
        UPDATE <include refid="tableName"></include>
        SET VERSION=#{version}
        WHERE ID=#{id}
    </update>

    <!-- 新增-->
    <insert id="saveModle" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"></include>(
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <insert id="saveModleDemand" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO MODLE_DEMAND(ID,MODLE_ID,DEMAND_ID) VALUES(#{id},#{modleId},#{demandId})
	</insert>

</mapper>