<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ectrip.dao.VersionDAO">

	<resultMap type="Version" id="versionResultMap">
		<id column="ID" property="id"/>
		<result column="VERSION" property="version"/>
		<result column="MODLE_ID" property="modleId"/>
		<result column="UP_USERID" property="upUserId"/>
		<result column="UP_TIME" property="upTime"/>
		<result column="VERSION_ID" property="versionId"/>
		<result column="DEMAND_ID" property="demandId"/>
		<result column="VERSION_STATE" property="versionState"/>
	</resultMap>

	<resultMap type="VersionVO" id="versionVOResultMap">
		<id column="ID" property="id"/>
		<result column="VERSION" property="version"/>
		<result column="MODLE_ID" property="modleId"/>
		<result column="MODLE_NAME" property="modleName"/>
		<result column="UP_USERID" property="upUserId"/>
		<result column="UP_TIME" property="upTime"/>
		<result column="VERSION_ID" property="versionId"/>
		<result column="VERSION_NUM" property="versionNum"/>
		<result column="DEMAND_ID" property="demandId"/>
		<result column="DEMAND_NAME" property="demandName"/>
		<result column="VERSION_STATE" property="versionState"/>
	</resultMap>

	<!--表名 -->
	<sql id="tableName">
		VERSION
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		VERSION,
		MODLE_ID,
		UP_USERID,
		UP_TIME,
		VERSION_ID,
		DEMAND_ID,
		VERSION_STATE
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},
		#{version},
		#{modleId},
		#{upUserId},
		#{upTime},
		#{versionId},
		#{demandId},
		#{versionState}
	</sql>

	<!-- 主键查询-->
	<select id="findVersion" resultMap="versionResultMap">
		SELECT <include refid="Field"></include> FROM <include refid="tableName"></include>
		WHERE ID=#{id}
	</select>

	<!-- 条件查询-->
	<select id="queryVersion" resultMap="versionVOResultMap">
		SELECT v.ID AS ID,v.VERSION AS VERSION,v.MODLE_ID AS MODLE_ID,
		(SELECT m.MODLE_NAME FROM MODLE m WHERE m.ID=#{modleId}) AS MODLE_NAME,
		v.UP_USERID AS UP_USERID,v.UP_TIME AS UP_TIME,v.VERSION_ID AS VERSION_ID,v.DEMAND_ID AS DEMAND_ID,d.DEMAND_NAME AS DEMAND_NAME,
		(CASE WHEN v.VERSION_STATE='0' THEN '已停用' ELSE '启用中' END) AS VERSION_STATE
		FROM VERSION v,DEMAND d
		WHERE v.DEMAND_ID=d.ID
		<if test="modleId!=null and modleId!=''">
			AND v.MODLE_ID=#{modleId}
		</if>
		<if test="versionState!=null and versionState!=''">
			AND v.VERSION_STATE=#{versionState}
		</if>
	</select>

	<!-- 修改 -->
	<update id="updateVersion" parameterType="Version">
		UPDATE <include refid="tableName"></include>
		SET VERSION=#{version},MODLE_ID=#{modleId},UP_USERID=#{upUserId},UP_TIME=#{upTime},
		VERSION_ID=#{versionId},DEMAND_ID=#{demandId},VERSION_STATE=#{versionState}
		WHERE ID=#{id}
	</update>

	<!-- 新增-->
	<insert id="saveVersion" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="tableName"></include>(
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>

</mapper>