<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--过滤编码-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>

  <!-- 配置web-inf下页面跳转访问 -->
  <servlet>
    <servlet-name>editModlePrototype</servlet-name>
    <jsp-file>/WEB-INF/view/modle/editModlePrototype.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editModlePrototype</servlet-name>
    <url-pattern>/editModlePrototype</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>modlePrototypeList</servlet-name>
    <jsp-file>/WEB-INF/view/modle/modlePrototypeList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modlePrototypeList</servlet-name>
    <url-pattern>/modlePrototypeList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>projectInfoList</servlet-name>
    <jsp-file>/WEB-INF/view/projectInfo/projectInfoList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectInfoList</servlet-name>
    <url-pattern>/projectInfoList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>editProjectInfo</servlet-name>
    <jsp-file>/WEB-INF/view/projectInfo/editProjectInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProjectInfo</servlet-name>
    <url-pattern>/editProjectInfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>projectList</servlet-name>
    <jsp-file>/WEB-INF/view/project/projectList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectList</servlet-name>
    <url-pattern>/projectList</url-pattern>
  </servlet-mapping>

  <!--<servlet>-->
    <!--<servlet-name>editProject</servlet-name>-->
    <!--<jsp-file>/WEB-INF/view/project/addProject.jsp</jsp-file>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>editProject</servlet-name>-->
    <!--<url-pattern>/editProject</url-pattern>-->
  <!--</servlet-mapping>-->

  <servlet>
    <servlet-name>addProjectInfo</servlet-name>
    <jsp-file>/WEB-INF/view/projectInfo/editProjectInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProjectInfo</servlet-name>
    <url-pattern>/addProjectInfo</url-pattern>
  </servlet-mapping>

  <!--配置spring启动文件-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:spring/ApplicationContext*.xml</param-value>
  </context-param>

  <!--spring容器启动-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--配置springmvc-->
  <servlet>
    <servlet-name>springMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:spring/ApplicationContext-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>


<!--  <filter>
    <filter-name>startFilter</filter-name>
    <filter-class>com.ectrip.filter.startFilter</filter-class>
  </filter>-->


  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>

  <session-config>
    <session-timeout>600</session-timeout>
  </session-config>

</web-app>